@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #090A0F;
    --foreground: #f8fafc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Custom Web3 Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(9, 10, 15, 1);
}

::-webkit-scrollbar-thumb {
  background: rgba(168, 85, 247, 0.4);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(168, 85, 247, 0.8);
}
